body {
	background: url("../images/pacmanbg1.jpg");
	background-size: cover;
	background-repeat: repeat-y;
}

#user_content, #remote_content {
	text-align: center;
}

#start {
	position: absolute;
	top: 46%;
	left: 45%;
	z-index: 100;
}

#game_top {
	margin: 0 auto;
	background-color: black;
}

#game_top h2 {
	margin: 0;
	display:inline-block;
	width: 40%;
	text-align: right;
}

#name_input {
	position: absolute;
	top: 36%;
	left: 20%;
	right: 20%;
	background-color: white;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid grey;
}

#display_name, .remote_header, h2 {
	font-size: 18px;
	color: white;
	font-weight: normal;
}

.remote_header {
	background-color: black;
	margin: 0 auto;
}

.remote_game {
	margin-bottom: 10px;
}

#name_error {
	display: none;
}

#message_container {
	text-align: left;
}

#messages {
	overflow: auto;
	height: 205px;
	border: 1px solid black;
	margin-top: 10px;
	background-color: white;
	border-radius: 5px;
	padding: 5px;
}

#message {
	width: 100%;
	margin: 10px 0;
	border-radius: 5px;
	padding: 5px;
}

#message_input, #reset {
	display: inline-block;
}

#reset {
	margin-top: 5px;
}

/* Styles on bootstrap classes */
.container {
	display: none;
}

.row {
	margin-top: 25px;
}
/* End bootstrap */

.odd {
	background-color: lightgrey;
}

ul {
	list-style-type: none;
}

li {
	padding: 5px;
}