#display_name, #message_container, #start {
	display: none;
}

#left_content, #right_content {
	text-align: center;
}

#start {
	position: absolute;
	top: 40%;
	left: 45%;
	z-index: 100;
}

#name_input {
	position: absolute;
	top: 36%;
	left: 20%;
	right: 20%;
	background-color: white;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid grey;
}

#display_name, .remote_header {
	font-size: 18px;
}

#messages {
	text-align: left;
	overflow: auto;
	max-height: 100px;
	border: 1px solid black;
}

ul {
	list-style-type: none;
	margin: 10px;
}

li {
	margin: 10px 2px;
	border-bottom: 1px solid gray;
}