body {
	background: url("../images/pacmanbg1.jpg");
	background-size: cover;
	background-repeat: repeat-y;
}

#back {
	width:100px;
}

#display_name, #message_container, #start {
	display: none;
}

#left_content, #right_content {
	text-align: center;
}

#start {
	position: absolute;
	top: 31%;
	left: 43%;
	z-index: 100;
}

#name_input {
	position: absolute;
	top: 36%;
	left: 20%;
	right: 20%;
	background-color: white;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid grey;
}

#display_name, .remote_header {
	font-size: 18px;
	color: #0973B2;
}

#message_container {
	text-align: left;
}

#messages {
	overflow: auto;
	height: 100px;
	border: 1px solid black;
	margin-top: 10px;
	background-color: white;
	border-radius: 5px;
	padding: 5px;
}

#message {
	width: 100%;
	margin: 10px 0;
	border-radius: 5px;
	padding: 5px;
}

#message_input button {
	display: block;
}

ul {
	list-style-type: none;
	margin: 10px;
}

li {
	margin: 10px 2px;
	border-bottom: 1px solid gray;
}