<!DOCTYPE html>
<html>
	<head>
		<title>Pacman Demo</title>
		<meta charset="UTF-8">
		<meta name="description" content="Pacman demo">
		<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="stylesheets/pacman.css">
		<link rel="stylesheet" href="stylesheets/board.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="js/board.js"></script>
		<script src="js/pacman.js"></script>
		<script src="js/pacman_sockets.js"></script>
		<script src="js/pacman_characters.js"></script>
	</head>
	<body>
		<div class="page">
			<div id="name_input">
				<form action='<%= baseUrl %>' method='post'>
					<fieldset>
						<legend>Enter name to play!</legend>
						<label for="user_name">Name:</label>
						<input type="text" id="user_name" name="user_name">
						<input type="submit" id="submit_name" class="btn btn-default" value="Enter">
					</fieldset>
				</form>
				<p id="name_error" class="text-danger">Name is required to play.</p>
			</div>
			<div class="container">
				<div class="row">
					<div id="user_content" class="col-sm-12 col-md-6 position-relative">
						<h1 id="display_name"></h1>
						<div id="game_area">
						</div>
						<button type="button" id="start" class="btn btn-success">Start</button>
						<a id="reset" class="btn btn-danger" href="<%= baseUrl %>reset">Reset session</a>
					</div>
					<div id="message_container" class="col-sm-12 col-md-6">
						<h1>Message center</h1> 
						<div id="message_input">
							<input type="text" id="message" name="message" placeholder="Enter message">
							<button type="button" id="submit_message" class="btn btn-secondary">Send Message</button>
						</div>
						<div id="messages">
							<ul></ul>
						</div>
					</div>
				</div>
				<div id="remote_content" class="row">
				</div>
			</div>
		</div>
	</body>
</html>